<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <!-- styles -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main-body">
        <h1>Blog App</h1>
        <div class="login-form">
            <h2> Sign in</h2>
            <form action="/users/existing" method="POST" class="actual-form">
                <input type="text" id="email" placeholder="Email" name="email" required>
                <br>
                <input type="password" id="password" placeholder="Password" name="password" required>
                
                <br>
                <button id="btn" onclick="welcome()">Submit</button>
            </form>
            <a href="/users/new" id="newuser">Dont have an account?</a>
        </div>
    </div>
</body>
</html>