<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    

    <!-- styles -->
    <link rel="stylesheet" href="/css/newBlog.css">
</head>
<body>
    <h1 class="title">New Blog</h1>
    <form action="/users/:id/home" method="POST" class="login-form">
        <input type="hidden" name="author" id="author" placeholder="Author Name">
        <br>
        <label for="Title">Title: </label>
        <input type="text" id="Title" name="title" placeholder="Blog Title">
        <br>
        <label for="tags"> Content Tags: </label>
        <input type="text" id="tags" name="tags" placeholder="Tags">
        <br>
        <br>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Your content here"></textarea>
        <br>    
        <br>
        <input type="hidden" name="user_id" id="user_id" value="<%=id%>">
        <button class="btn" onclick="givealert()">Submit</button>
        <br>
    </form>
    <script>
        function givealert() {
            alert('Blog saved successfully')
        }
    </script>
</body>
</html>