@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
        color: yellow;
}
body {
    background-color: #050212;
}
h1 {
    width: 400px;
    height: 100px;
    color: yellow;
    margin-left: 710px;
    margin-top: 10px;
}
.center-content h2 {
    margin: auto;
    padding-left: 210px;
}

.center-content {
    width: 510px;
    height: 470px;
    margin-top: 60px;
    margin-left: 520px;
    border: 2px rgb(50, 84, 205) solid;
    border-radius: 3%;
    padding: 10px;
}

.login-form {
    width: 50px;
    height: 50px;
    padding-left: 100px;
    padding-top: 70px;
}

#email {
    border: 1.5px rgb(50, 205, 60) solid;
    border-radius: 25px;
    font-size: 22px;
    width: 300px;
    height: 50px;
    background-color: #050212;
}
#password {
    border: 1.5px rgb(50, 205, 60) solid;
    border-radius: 25px;
    font-size: 22px;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    background-color: #050212;
}
#btn {
    font-size: 22px;
    margin-top: 70px;
    cursor: pointer;
    width: 300px;
        height: 50px;
        padding-right: 20px;
        background-color: #050212;
        border: 1.5px rgb(50, 205, 60) solid;
}
#btn:hover {
    box-shadow: 0px 0.5em 0.5em -0.4em gold;
    transform: translateY(-0.25em);
}
#signuplink {
    position: relative;
    top: 310px;
    left: 100px;
}

/* @media screen and (max-width: 600px) {
    .section-center {
        width: 90%;
    }
    .section-center h1 {
        font-size: 1.5rem;
    }
    .section-center h2 {
        font-size: 1.2rem;
        padding: 0.25rem;
        width: 150px;
    }
}
*/