@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #050212;
}
h1 {
    border-bottom: 2px solid grey;
    text-align: center;
    color: yellow;
    padding-bottom: 10px;
}


.main-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
    height: 600px;
    margin-left: 150px;
    row-gap: 20px;
}
.blog-tile:hover {
    cursor: pointer;
    box-shadow: 0.7em 0.6em 0.5em -0.4em gold;
    transform: translateY(-0.36em);
}
.blog-tile {
    display: flex;
    flex-direction: row;
    border: 0.05em solid gold;
}
.blog-tile img {
    padding: 20px;
}
.blog-tile p {
    font-size: 22px;
    color: gold;
    padding-left: 20px;
}
.blog-tile a {
    text-decoration: none;
    color: gold;
}

.blog-tile #date {
    position: relative;
    left: 70%;
    padding-top: 10px;
    font-style: italic;
    font-size: 16px;
    color:gold;
    text-align: right;
}

.footer  {
    text-align: center;
    font-size: 25px;
    width: 100%;
    border-top: 1px solid grey;
}
.footer a {
    color: white;
}


/* @media screen and (max-width: 600px) {
    .section-center {
        width: 90%;
    }
    .section-center h1 {
        font-size: 1.5rem;
    }
    .btn {
        width: 160px;
    }
} */