@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #58A6FF;
}
body {
    background-color: #0d1117;
}
h1 {
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 purple;
    transition: 0.3s;
    border-radius: 5px;
    outline: white;
    background-color: black;
}
.content {
    padding: 2px 16px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.btn-area {
    text-align:center;
    bottom: 10%;
}
.btn {
    background-color: #238636;
    color: white;
    border: 2px solid white;
    font-size: 1.15rem;
    margin-top: 0.5rem;
    width: 200px;
    cursor: pointer;
    
}
.btn a {
    color: white;
    text-decoration: none;
}
.btn:hover {
    border-color: #238636;
    transition: all 1s ease-in;
    background-color: white;
    color: black;
}
.btn:hover a {
    color: black;
    transition: all 1s ease-in;
}

/* @media screen and (max-width: 600px) {
    .section-center {
        width: 90%;
    }
    .section-center h1 {
        font-size: 1.5rem;
    }
    .btn {
        width: 160px;
    }
} */