@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    text-transform: capitalize;
    font-family: 'Mukta', sans-serif;
    text-transform: none
}
body {
    background-color: #0d1117;
}
.title {
    color: #58A6FF;
    text-align: center;
    padding-top: 2rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section-center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
p {
    color: white;
    text-align: center;
    font-size: 1.1rem;
}
.btn {
    background-color: #238636;
    color: white;
    border: 2px solid white;
    font-size: 1.15rem;
    margin-top: 0.8rem;
    width: 200px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}
.btn a {
    color: white;
    text-decoration: none;
}
.btn:hover {
    border-color: #238636;
    transition: all 1s ease-in;
    background-color: white;
    color: black;
}
.btn:hover a {
    color: black;
    transition: all 1s ease-in;
}

.btn-edit {
    background-color: #238636;
    color: white;
    border: 2px solid white;
    font-size: 1.15rem;
    margin-top: 4rem;
    width: 200px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}



.btn-edit a {
    color: white;
    text-decoration: none;
}

.btn-edit:hover {
    border-color: #238636;
    transition: all 1s ease-in;
    background-color: white;
    color: black;
}


.btn-edit:hover a {
    color: black;
    transition: all 1s ease-in;
}

.btn-delete {
    background-color: #238636;
    color: white;
    border: 2px solid white;
    font-size: 1.15rem;
    margin-top: 7.2rem;
    width: 200px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
}



.btn-delete a {
    color: white;
    text-decoration: none;
}

.btn-delete:hover {
    border-color: #238636;
    transition: all 1s ease-in;
    background-color: white;
    color: black;
}


.btn-delete:hover a {
    color: black;
    transition: all 1s ease-in;
}