@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Mukta', sans-serif;
    color: #58A6FF;
}
body {
    background-color: #0d1117;
}
.title {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    margin-top: 4rem;
}
.btn-container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}
.btn {
    margin-top: 0.4rem;
    cursor: pointer;
    background-color: #238636;
    border: 2px solid white;
    padding: 0.35rem;
    width: 200px;
    font-size: 1.2rem;
}
.btn:hover {
    border-color: #238636;
    transition: all 1s ease-in;
    background-color: white;
}
a {
    text-decoration: none;
    color: white;
}
.btn:hover a {
    color: black;
    transition: all 1s ease-in;
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 1.6rem;
        margin-top: 6rem;
    }
    .btn {
        width: 170px;
    }
}
#name {
    background-color: black;
    color: white;
    width: 45em;
    margin-top: 1.5em;
}
#searchButton {
    background-color: black;
    color: white;
}
