<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- styles -->
    <link rel="stylesheet" href="/css/existing.css">
</head>
<body>
    <h1 class="title">Sign in</h1>
    <form action="/users/existing" method="POST" style="text-align: center;" class="signup-form">
        <label for="email">Enter your email : </label>
        <input type="text" id="email" placeholder="Email" name="email" required>
        <br>
        <label for="email">Enter your password: </label>
        <input type="password" id="password" placeholder="Your Password" name="password" required><button style="background-color: black;color:white;cursor:pointer" onclick="show()" type="button" id="showpasswordbutton">Show Password</button>
        <br>
        <button class="btn" onclick="welcome()">Sign In</button>
        <button class="btn wide"><a href="/">Back to home page</a></button>
    </form>
    <script>
        function welcome() {
            if (document.getElementById('name').textContent.length == 0 && document.getElementById('age').textContent.length == 0 && document.getElementById('email').textContent.length == 0 && document.getElementById('password').textContent.length == 0){

            }
            else    
                alert('Signed in successfully')
        }
        function show() {
            let password = document.getElementById('password')
            let showpasswordbutton = document.getElementById('showpasswordbutton')
            if (password.type == 'password') {
                password.type = 'text'
                showpasswordbutton.textContent = 'Hide Password'
            }
            else {
                password.type = 'password'
                showpasswordbutton.textContent = 'Show Password'
            }
        }
    </script>
</body>
</html>