<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!-- styles -->
    <link rel="stylesheet" href="../../public/css/existing.css">
</head>
<body>
    <h1 class="title">Sign in</h1>
    <form action="/existing" method="POST" style="text-align: center;" class="signup-form">
        <label for="name">Enter your name</label>
        <input type="text" id="name" placeholder="Name" name="name">
        <br>
        <label for="age">Enter your age</label>
        <input type="text" id="age" placeholder="Age" name="age">
        <br>
        <label for="email">Enter your email address</label>
        <input type="text" id="email" placeholder="Email" name="email">
        <br>
        <button class="btn">Submit</button>
        <button class="btn wide"><a href="/">Back to home page</a></button>
    </form>
</body>
</html>