<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>

    <!-- styles -->
    <link rel="stylesheet" href="../css/newUser.css">

</head>
<body>
    <h1 class="title"><u><b>New User</b></u></h1>
    <form action="/user" method="POST" style="text-align: center;" class="signup-form">
        <label for="name">Enter your name</label>
        <input type="text" id="name" placeholder="Name" name="name">
        <br>
        <label for="age">Enter your age</label>
        <input type="text" id="age" placeholder="Age" name="age">
        <br>
        <label for="email">Enter your email address</label>
        <input type="text" id="email" placeholder="Email" name="email">
        <br>
        <label for="password"> Your Blogaddict password: </label>
        <input type="password" id="password" name="password" placeholder="Enter a password">
        <br>
        <label for="interests"></label>
        <textarea name="interests" id="interests" cols="30" rows="10" placeholder="What interests you to write about"></textarea>
        <br>
        <button class="btn">Submit</button>
        <button class="btn wide"><a href="/">Back to login page</a></button>
    </form>
</body>
</html>