<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    
    <!-- styles -->
    <link rel="stylesheet" href="/css/newUser.css">

</head>
<body>
    <h1 class="title">New User</h1>
    <form action="/user" method="POST" style="text-align: center;" class="signup-form">
        <label for="name">Enter your name</label>
        <input type="text" id="name" placeholder="Name" name="name" required>
        <br>
        <label for="age">Enter your age</label>
        <input type="number" id="age" placeholder="Age" name="age" min="1" required>
        <br>
        <label for="email">Enter your email address</label>
        <input type="text" id="email" placeholder="Email" name="email" required>
        <br>
        <label for="password"> Your BlogAddiction password: </label>
        <input type="password" id="password" name="password" placeholder="Enter a password" required minlength="8"><button style="background-color: black;color:white" onclick="show()" type="button" id="showpasswordbutton">Show Password</button>
        <br>
        <label for="interests">Bio:</label>
        <textarea name="interests" id="interests" cols="30" rows="10" placeholder="About Yourself" required></textarea>
        <br>
        <button class="btn">Save</button>
        <button class="btn wide"><a href="/">Back to login page</a></button>
    </form>
</body>
<script>
    function show() {
        let password = document.getElementById('password')
        let showpasswordbutton = document.getElementById('showpasswordbutton')
        if (password.type == 'password') {
            password.type = 'text'
            showpasswordbutton.textContent = 'Hide Password'
        }
        else {
            password.type = 'password'
            showpasswordbutton.textContent = 'Show Password'
        }
    }
</script>
</html>