<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <!-- styles -->
    <style>
        body {
            background-color: #0d1117;
        }
        h1 {
            color: #58A6FF;
            width: 90%;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>OOPS sorry but, it looks like this page doesnt exist!!</h1>
</body>
</html>