<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h1>Your details</h1>
        <p><%= user.name %></p>
        <p><%= user.age %></p>
        <p><%= user.email %></p>
        <p><%= user.interests %></p>
        <button><a href="/">Back to home page</a></button>
</body>
</html>