<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <!-- styles -->
    <link rel="stylesheet" href="../css/userDetails.css">
</head>
<body>
    <h1 class="title">Your details</h1>
    <section class="section-center">
        <p>Name: <%= user.name %></p>
        <p>Age: <%= user.age %></p>
        <p>Email: <%= user.email %></p>
        <p>Interests: <%= user.interests %></p>
        <button class="btn"><a href="/">Back to home page</a></button>
    </section>
</body>
</html>